<router-outlet></router-outlet>

<h1>{{message}}</h1>

<p><span *ngFor='let array of arrays'>{{array}}</span> {{variable}} times</p>
<p><span>score: {{random.score}}, result: {{random.result}}, greet: {{random.greet}}</span></p>